{% extends "layout.html" %}


{% block main %}
<!-- {% if result == "insufficient balance" %}
<div id="error" class="errors">Insufficient balance</div>
{% else %}
<div id="error" class="errors">{{ alert }}</div>
{% endif %} -->
<div id="error_2" class="errors"></div>
<div class="invest">
    <div class="left_side">
        <div class="quote_token">
            <form id="form_buy" action="/buy" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control
                        mx-auto w-auto" id="token" name="symbol"
                        placeholder="BTC" type="text">
                    <ul class="tokenlist"></ul>
                </div>
                <button class="quote" type="submit">Quote</button>
            </form>
        </div>
        <div class="tokenMenu">
            <div class="token_symbol">
                {{ token_name }} {{token_symbol}}
                <button id="open" class="quote" type="submit">Buy</button>
            </div>
            <div class="token_price">
                <form id="form" action="/add_to_portfolio" method="post">
                    <input method="post" type="hidden" name="jprice">{{ token_la_price }}</input>
                </form>
            </div>
            <div class="table_stats">
                <table>
                    <tr>
                        <td id="l_col">Last price</td>
                        <td id="r_col">{{ token_la_price }}</td>
                    </tr>
                    <tr>
                        <td id="l_col">High 24h price</td>
                        <td id="r_col">{{ token_hi_price }}</td>
                    </tr>
                    <tr>
                        <td id="l_col">Low 24h price</td>
                        <td id="r_col">{{ token_lo_price }}</td>
                    </tr>
                    <tr>
                        <td id="l_col">24h volume</td>
                        <td id="r_col">{{ token_vol24 }}</td>
                    </tr>
                    <tr>
                        <td id="l_col">24h change</td>
                        <td id="r_col">{{ token_change24 }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="right_side">
        <div class="chartMenu">
            <p>Price change, $USD</p>
        </div>
        <div class="chart_card">
            <div class="chart_box">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="modal-container" id="modal_container">
        <div class="modal">
            <div class="close_container">
                <button class="close_button" id="close">x</button>
            </div>
            <h2>Choose number of tokens</h2>
                <div class="token_symbol">
                    {{ token_name }} {{token_symbol}}
                </div>
                <div class="token_price">
                    {{ token_la_price }}
                </div>
                <div class="table_stats">
                    <table>
                        <tr>
                            <td id="l_col">Last price</td>
                            <td id="r_col">{{ token_la_price }}</td>
                        </tr>
                        <tr>
                            <td id="l_col">24h volume</td>
                            <td id="r_col">{{ token_vol24 }}</td>
                        </tr>
                        <tr>
                            <td id="l_col">24h change</td>
                            <td id="r_col">{{ token_change24 }}</td>
                        </tr>
                    </table>
                </div>
            <form id="form_2" action="/add_to_portfolio" method="post">
                <p>Number of tokens:</p>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control
                        mx-auto" id="tokens_to_add" name="tokens_to_add"
                        placeholder="100">
                </div>
                <button id="add_button" class="register_login" type="submit">Buy</button>
            </form>
            <div id="error" class="errors"></div>
        </div>
    </div>
</div>


    
{% endblock %}




{% block javascript %}

<script>
function drawChart() {
    gc_labels = JSON.parse({{ cg_labels | tojson }})
    for (let key in gc_labels){
    var dt = moment.utc(gc_labels[key]).toDate();
    gc_labels[key] = moment(dt).local().format("MM-DD");
    }
    gc_prices = JSON.parse({{ cg_prices | tojson }}) 
        // setup  
    const data = {
        labels: gc_labels, //['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] gc_labels
        datasets: [{
        label: 'Price',
        data: gc_prices, //[9.33, 12, 6, 9, 12, 3, 9] gc_prices
        //   backgroundColor: [
        //     'rgba(255, 26, 104, 0.2)',
        //     'rgba(54, 162, 235, 0.2)',
        //     'rgba(255, 206, 86, 0.2)',
        //     'rgba(75, 192, 192, 0.2)',
        //     'rgba(153, 102, 255, 0.2)',
        //     'rgba(255, 159, 64, 0.2)',
        //     'rgba(0, 0, 0, 0.2)'
        //   ],
        fill: {
            target: {
                value: gc_prices[0] //gc_prices[0]
            },
            below: (context) =>{
                const chart = context.chart;
                const { ctx, chartArea, data, scales } = chart;
                if (!chartArea){
                    return null;
                }
                return belowGradient(ctx, chartArea, data, scales);
            },
            above: (context) =>{
                const chart = context.chart;
                const { ctx, chartArea, data, scales } = chart;
                if (!chartArea){
                    return null;
                }
                return aboveGradient(ctx, chartArea, data, scales);
            },
        },
        borderColor: (context) =>{
            const chart = context.chart;
            const { ctx, chartArea, data, scales } = chart;
            if (!chartArea){
                return null;
            }
            return getGradient(ctx, chartArea, data, scales)
        },
        tension: 0.4,
        pointRadius: 0,
        pointHitRadius: 10,
        hoverPointRadius: 0
        }]
    };

    // dottedLine plugin block
    const dottedLine = {
        id: 'dottedLine',
        beforeDatasetsDraw(chart, args, pluginOptions) {
            const { ctx, data, chartArea: {left, right, width}, scales: {y, x}  } = chart;
            ctx.save();
            ctx.beginPath();
            ctx.LineWidth = 1;
            ctx.setLineDash([1, 5]);
            ctx.strokeStyle = 'rgab(255, 255, 255, 1)';
            ctx.moveTo(left, y.getPixelForValue(data.datasets[0].data[0]));
            ctx.lineTo(right, y.getPixelForValue(data.datasets[0].data[0]));
            ctx.stroke();
            ctx.closePath();
            ctx.setLineDash([]);
        }
    }

    // config 
    const config = {
        type: 'line',
        data,
        options: {
        maintainAspectRatio: false,    
        scales: {
            y: {
                ticks:{
                    color: '#FFFFFF',
                },
                beginAtZero: false
            },
            x: {
                ticks: {
                    maxTicksLimit: 7,
                    color: '#FFFFFF',
                    maxRotation: 0,
                    minRotation: 0,
                    padding: 18,
                }
            }
        },
        plugins: {
            legend: {
                display: false
            }
        }
        },
        plugins: [dottedLine]
    };

    // render init block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
}

  function getGradient(ctx, chartArea, data, scales) {
    const {left, right, top, bottom, width, height} = chartArea;
    const {x, y} = scales;
    const gradientBorder = ctx.createLinearGradient(0, 0, 0, bottom);
    const shift = y.getPixelForValue(data.datasets[0].data[0]) / bottom;
    gradientBorder.addColorStop(0, 'rgba(2, 229, 38, 1)');
    gradientBorder.addColorStop(shift, 'rgba(2, 229, 38, 1)');
    gradientBorder.addColorStop(shift, 'rgba(255, 70, 159, 1)');
    gradientBorder.addColorStop(1, 'rgba(255, 70, 159, 1)');
    return gradientBorder;
  };

  function belowGradient(ctx, chartArea, data, scales) {
    const {left, right, top, bottom, width, height} = chartArea;
    const {x, y} = scales;
    const gradientBackground = ctx.createLinearGradient(0, y.getPixelForValue(data.datasets[0].data[0]), 0, bottom);
    gradientBackground.addColorStop(0, 'rgba(255, 70, 159, 0)');
    gradientBackground.addColorStop(1, 'rgba(255, 70, 159, 0.5)');
    return gradientBackground;
  };

  function aboveGradient(ctx, chartArea, data, scales) {
    const {left, right, top, bottom, width, height} = chartArea;
    const {x, y} = scales;
    const gradientBackground = ctx.createLinearGradient(0, y.getPixelForValue(data.datasets[0].data[0]), 0, top);
    gradientBackground.addColorStop(0, 'rgba(2, 229, 38, 0)');
    gradientBackground.addColorStop(1, 'rgba(2, 229, 38, 0.5)');
    return gradientBackground;
  }

  window.onload = function() {
    if (window.outerWidth > 900) {
        Chart.defaults.font.size = 12;
    } else if ((window.outerWidth <= 900) && (window.outerWidth > 500)) {
        Chart.defaults.font.size = 10;
    } else {
        Chart.defaults.font.size = 8;
    }
    drawChart()
  }


    // Auto complete token search
    let names = JSON.parse({{ tokens | tojson }})
    
    // sort names in a ascending order
    let sortedNames = names.sort();
    
    // reference
    let input = document.getElementById("token");

    // execute function on keyup
    input.addEventListener("keyup", (e) => {
        // loop through above array
        // initially remove all elements
        removeElements();
        let tCounter = 0;
        for (let i of sortedNames){
            // convert input to lower case and compare w/ each array element
            if (tCounter <= 10){
                if (i.toLowerCase().startsWith(input.value.toLocaleLowerCase()) && input.value != ""){
                // create list of elements
                let listItem = document.createElement("li");
                listItem.classList.add("list-items");
                listItem.style.cursor = "pointer";
                listItem.setAttribute("onclick", "displayNames('"+ i + "')");
                // display matched part in bold
                let word = "<b>" + i.substr(0,input.value.length) + "</b>";
                word+= i.substr(input.value.length);
                // display the value in array
                listItem.innerHTML = word;
                document.querySelector(".tokenlist").appendChild(listItem);
                tCounter = tCounter + 1;
                }
            }
        }
    });

    function displayNames(value) {
        input.value = value;
        removeElements();
    }

    function removeElements() {
        let items = document.querySelectorAll(".list-items");
        items.forEach((item) => {
            item.remove();
        });
    }
    

    // CHECK IF TOKEN IS IN THE LIST
    const symbol_1 = document.getElementById("token")
    const errorEl = document.getElementById('error_2')
    const form_buy = document.getElementById("form_buy")
    const pre_buy = document.getElementById("open")

    pre_buy.addEventListener('click', (e) => {
        let messages = [];
        let err_message = {{ token_name | tojson  }};
        
        if (err_message === 'No data') {
            messages.push('choose another token')
            e.preventDefault()
            errorEl.innerText = messages[0]
        } else{
            // Modal view for buying tokens
            const open = document.getElementById('open');
            const close = document.getElementById('close');
            const modal_container = document.getElementById('modal_container');

            modal_container.classList.add("show");

            close.addEventListener('click', () => {
                modal_container.classList.remove("show");

            });

            var countDecimals = function(value) {
                if (Math.floor(value) !== value)
                    return value.toString().split(".")[1].length || 0;
                return 0;
            }
        }
    });

    form_buy.addEventListener('submit', (e) => {
        let messages = [];
        let cntTokenExist = 0;
        let existingTokens = JSON.parse({{ tokens | tojson }})
        for (let key in existingTokens){
            if (existingTokens[key] === symbol_1.value){
                cntTokenExist = cntTokenExist + 1;
            }
        }

        if (cntTokenExist === 0){
            messages.push('symbol does not exist')
        }
        
        if (messages.length > 0) {
            e.preventDefault()
            errorEl.innerText = messages[0]
        }
    
    });

</script>


{% endblock %}