{% extends "layout.html" %}

{% block main %}
{% if alert == "user already exists" %}
<div id="error" class="errors">User already exists</div>
{% else %}
<div id="error" class="errors">{{ alert }}</div>
{% endif %}
            <div class="register_cont">
                <form id="form" action="/login" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control
                            mx-auto w-auto" id="username" name="username" placeholder="Account" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="password"
                            name="password" placeholder="Password"
                            type="password">
                    </div>
                    <button class="register_login" type="submit">Log-in</button>
                </form>
            </div>

{% endblock %}
