{% extends "layout.html" %}

{% block main %}
{% if alert == "user already exists" %}
<div id="error" class="errors">User already exists</div>
{% else %}
<div id="error" class="errors">{{ alert }}</div>
{% endif %}
            <div class="register_cont">
                
                <form id="form" action="/register" method="post">
                    Account
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control
                            mx-auto w-auto" id="username" name="username" type="text">
                    </div>
                    Password
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="password"
                            name="password" type="password">
                    </div>
                    Repeat password
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" id="confirmation"
                            name="confirmation" type="password">
                    </div>
                    <button class="register_login" type="submit">Register</button>
                </form>
            </div>


{% endblock %}
