{% extends "layout.html" %}

{% block main %}

{% if alert == "missing name" %}
    <div class="alert alert-danger" role="alert">
        Enter username
    </div>
{% elif alert == "missing password" %}
    <div class="alert alert-danger" role="alert">
        Enter password
    </div>
{% elif alert == "pwds different" %}
    <div class="alert alert-danger" role="alert">
        Check passwords
    </div>
{% endif %}

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Discord username: Account#0000" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Repeat password" type="password">
    </div>
    <button type="submit">Register</button>
</form>

{% endblock %}
